/* variables in the root for easy theme management. this is a dark theme */
:root {
  --accent-color: #d52c3a;
  --primary-color: #1b1c1f;
  --secondary-color: #101113;
  --text-color: #d9d9d9;
  --secondary-text-color: #7f8082;
  z-index: 0;
}
/* universal selector */
* {
  margin: 0; /* make image flush with side of viewport */
  padding: 0;
}

html {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* vh means viewport height. setting to 100 means it will always take up 100% of the height of the viewport */
  background-color: var(--primary-color);
}

nav {
  position: fixed;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 15px 20px;
  display: flex;
  gap: 30px;
  border-bottom: var(--secondary-text-color) 1px solid;
  transition: 200ms ease;
  z-index: 2; /* nav should be on top of everything */
}

nav:hover {
  border-bottom: var(--accent-color) 1px solid;
}

nav a {
  font-size: 1.3rem;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: 300ms ease;
}

nav a:hover {
  color: var(--accent-color);
  cursor: pointer;
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse; /* wrap-reverse causes overflow to be put on top of the image */
}

header .container {
  /* default width is 850px, but will shrink to fill smaller viewports */
  width: 850px;
  max-width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0);
  }
}

header img {
  height: 70vh;
  transition: 200ms ease;
}

header img:hover {
  animation: spin 20ms linear infinite;
}

header h1 {
  margin-top: 200px;
  font-size: 4rem; /* 1 rem = root em = root font size = 14pt */
}

header h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

header p {
  color: var(--secondary-text-color);
}

header .read-more {
  display: inline-block;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px; /* large value to round corners of block */
  padding: 0.5rem 1.25rem;
  text-decoration: none; /* remove underline from link */
  margin-bottom: 80px;
  transition: 200ms ease; /* smooth transition for hover effect */
  cursor: pointer; /* cursor becomes pointer on hover */
}

header .read-more:hover {
  /* hover effect for read more button */
  background-color: var(--secondary-color);
  color: var(--accent-color);
  transform: scale(1.1);
}

#skill-section {
  padding: 80px 20px 150px 20px;
  background-color: var(--secondary-color);
}

#skill-section h2 {
  font-size: 3rem;
  text-align: center;
}

#skill-section .wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.skill-container {
  width: 400px;
  max-width: 100%;
  border: 10px solid var(--primary-color);
}

.skill-container:hover {
  border: 10px solid var(--accent-color);
  transition: 300ms ease;
  transform: scale(1.05);
}

.skill-container h3 {
  background-color: var(--primary-color);
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.skill-container ul {
  list-style: none;
  margin: 10px 0;
}

.skill-container ul li {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.skill-container ul li progress {
  accent-color: var(--accent-color);
}

#projects-section {
  padding: 100px;
}

#projects-section h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

details {
  margin: 20px auto;
  width: 1000px;
  max-width: 100%;
  background-color: var(--secondary-color);
  border-radius: 6px;
}

details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 30px;
  padding: 20px;
}

details .number {
  background-color: var(--secondary-color);
  min-height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  transition: 300ms ease;
}

details:hover .number {
  background-color: var(--accent-color);
  font-size: 1.75rem;
}

details h3 {
  font-size: 1.75rem;
}

details .text-container {
  color: var(--secondary-text-color);
  padding: 30px;
  padding-top: 10px;
}

details .project-link {
  display: inline-block;
  margin-top: 30px;
  background-color: var(--accent-color);
  color: white;
  padding: 0.75em 1.5em; /* em is relative to the font size of the element */
  border-radius: 2px;
  font-weight: 500;
  transition: 300ms ease;
  cursor: pointer;
  text-decoration: none;
}

details .project-link:hover {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--secondary-color);
  padding: 100px 20px;
}

footer .grid-container {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  gap: 100px;
}

footer #at-symbol {
  font-size: 250pt;
}

footer h3 {
  margin-top: 80px;
  font-size: 2rem;
}

footer a {
  display: inline-block;
  margin-top: 5px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

@keyframes changeColor {
  from {
    color: var(--secondary-text-color);
  }
  to {
    color: var(--accent-color);
  }
}

footer a:hover {
  animation: changeColor 0.5s forwards;
}

@media (max-width: 1000px) {
  header {
    padding: 100px 20px 20px 20px;
    text-align: center;
  }

  header h1 {
    margin-top: 0;
    font-size: 10vw;
  }

  header h2 {
    font-size: 1.3rem;
  }

  header img {
    display: none;
  }

  #skill-section {
    padding: 60px 20px 60px 20px;
  }

  #projects-section {
    padding: 60px 100px 60px 100px;
  }

  footer {
    padding: 60px 20px 60px 20px;
  }

  footer .grid-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  footer #at-symbol {
    font-size: 150pt;
  }

  footer h3 {
    margin-top: 50px;
  }
}
